img {
    width: 200px;
}

textarea {
    min-height: 7em!important;
}

.form-control {
    font-style: italic;
    color: #9A9A9A;
}

#imgDetalls {
    width: 22em;
}

.productInfoBox {
    margin-left: -3em!important;
}

td, th, b {
    padding: 1em;
    font-size: small!important;
}

.taulaComentaris, th {
    text-align: center;
}

.row {
    /*border: 1px solid red;*/
    margin-bottom: 2em;
}

.col-lg-12, .col-lg-8, .col-lg-4 {
    /*border: 1px solid #e4e4e4;*/
}

#Usertitle{
    margin-left: 26%;
    color: #31708F;
}

.toplink {
    padding-right: 1em;
    color: #076BBF;
    font-size: 17px;
}

.link {
    color: #31708F!important;
    font-size: 17px;
}

.link:hover{
    color: #7FC2E4!important;
}

.alert {
    padding: 0px!important;
    margin: 0px!important;
}

#registreBtn{
    background-color: #00b3ee;
    margin-right: 1.3em;
    color: white;
}

#registreBtn:hover {
    background-color: #337ab7;
}

#loginBtn{
    background-color: rgba(42, 134, 5, 0.74);
    color: white;
}

#loginBtn:hover{
    background-color: rgba(1, 117, 23, 1);
}

#logoutBtn{
    background-color: rgb(255, 0, 59);
    color: white;
}

#logoutBtn:hover{
    background: rgba(255, 0, 59, 0.72);
}