img {
    width: 200px;
    height: 13.5em;
}

textarea {
    min-height: 4em!important;
}

#userIcon {
    color: #5CB85C;
}

#rowFiltres {
    padding-left: 2em;
    padding-top: 1em;
}

#body-resultats {
    padding-top: 0em;
}

#btnComenta {
    margin: 0 auto;
    display: block;
}

#tableComentaris {
    text-align: center;
}

.form-control {
    font-style: italic;
    color: #9A9A9A;
}

#prodDetallsArrow {
    font-size: 21px;
    padding: 0 3px;
}

#imgDetalls {
    width: 22em!important;
    height: 22em!important;
}

.productInfoBox {
    margin-left: -3em!important;
}

.producteDetalls b {
    font-size: small;
    padding: inherit;
}

/*td, th, b {*/
    /*padding: 1em;*/
    /*font-size: small!important;*/
/*}*/

.taulaComentaris, th {
    text-align: center;
}

.row {
    /*border: 1px solid red;*/
    margin-bottom: 2em;
}

[class*=' col-'] {
    border: 1px solid #e4e4e4;
}

.col-md-6 {
    /*border: 1px dotted;*/
}

#Usertitle{
    margin-left: 26%;
    color: #31708F;
}

.toplink {
    padding-right: 1em;
    color: #076BBF;
    font-size: 17px;
}

.link {
    color: #31708F!important;
    font-size: 17px;
}

.link:hover{
    color: #7FC2E4!important;
}

.alert {
    padding: 0px!important;
    margin: 0px!important;
}

#registreBtn{
    background-color: #00b3ee;
    margin-right: 1.3em;
    color: white;
}

#registreBtn:hover {
    background-color: #337ab7;
}

#loginBtn{
    background-color: rgba(42, 134, 5, 0.74);
    color: white;
}

#loginBtn:hover{
    background-color: rgba(1, 117, 23, 1);
}

#logoutBtn{
    background-color: rgb(255, 0, 59);
    color: white;
}

#logoutBtn:hover{
    background: rgba(255, 0, 59, 0.72);
}