<ol class="breadcrumb">
    <li><a href="#/">Cataleg</a></li>
    <li><a href="#/login">Login</a></li>
    <li class="active">Perfil</li>
</ol>

<div class="panel panel-success" ng-init="loginUser()">
    <div class="panel-heading">
        <h3 class="panel-title">Perfil de {{currentUser.username}}</h3>
    </div>
    <!--{{currentUser}}-->
    <div class="panel-body">
        <b>Nom: </b>{{currentUser.username}}<br>
        <b>email: </b>{{currentUser.email}}<br><br>
        <div ng-repeat="producte in currentUser.productes">
            <div class="row">
                <div class="col-lg-4">
                    <img class="thumbnail" style="width: 200px;margin: 10px auto;" src="{{producte.img_url}}">
                </div>
                <div class="col-lg-7">
                    <h3>{{producte.nom}}</h3>
                    <form ng-submit="comentaProducte(producte._id, this.comentari)">
                        <label>Deixa un comentari</label>
                        <textarea ng-model="comentari" class="form-control" placeholder="valora aquest producte"></textarea>
                             <!--Fer un push del comentari al array de Comentaris-->
                        <button type="submit" class="btn btn-danger">Comenta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>