<ol class="breadcrumb">
    <li><a href="#/">Cataleg</a></li>
    <li class="active">Detalls</li>
</ol>

<div class="panel panel-info producteDetalls" ng-init="getProducte()">
    <div class="panel-heading">
        <h3 class="panel-title">{{producte.nom}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">

            <div class="col-md-4">
                <figure>
                    <img id="imgDetalls" class="thumbnail" src="{{producte.img_url}}">
                </figure>

                <!--<img id="imgDetalls" class="thumbnail" src="{{producte.img_url}}">-->
                <a class="btn btn-success" ng-click="compraProducte(producte.nom, producte._id)" ng-show="userLogged">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    Compra
                </a>
                <a class="btn btn-warning" href="#/producte/edita/{{producte._id}}" ng-show="userLogged">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Edita
                </a>
                <a class="btn btn-danger" ng-click="borraProducte(producte._id)" ng-show="userLogged">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Borra
                </a>
                <a class="btn btn-info" href="#/">
                <i id="prodDetallsArrow" class="fa fa-reply" aria-hidden="true"></i>
                <!--Retorna-->
                </a>
            </div>
            <div class="col-md-8 productInfoBox">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Descripció</b>
                    </div>
                    <div class="panel-body">
                        </p>{{producte.descripcio}}</p>
                    </div>
                    <div class="panel panel-heading">
                        <b>Detalls</b>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <b>Actualitzat</b>
                                </td>
                                <td>
                                    {{producte.updated | date : format : date:'yyyy-MM-dd HH:mm:ss Z'}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <b>Disponibilitat</b>
                                </td>
                                <td>
                                    {{producte.stock === true ? "Si" : "No"}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Categoria</b>
                                </td>
                                <td>
                                    {{producte.categoria}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Marca</b>
                                </td>
                                <td>
                                    {{producte.marca}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Preu</b>
                                </td>
                                <td>
                                    {{producte.preu}} €
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Valoracions Usuaris
                    </div>
                    <table id="tableComentaris" class="table">
                        <thead>
                        <tr>
                            <th>Usuari</th>
                            <th>Comentari</th>
                            <th>Data</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="coment in producte.comentaris">
                            <td>{{coment.usuari}}</td>
                            <td>{{coment.comentari}}</td>
                            <td>{{coment.updated | date : format : date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>