<div class="panel panel-default" ng-init="getProductes()">
    <div class="panel-heading">
        <h3 class="panel-title">Cataleg Productes</h3>
    </div>
    <!-- -------FILTERS------- -->
    <div class="row">
        <div class="col-md-3">
            <div class="form-group" style="width: 200px;">
            <label>Filtra per Categoria</label>
                <select ng-model="categoriaFilter" class="form-control">
                    <option value="">Tots</option>
                    <option value="Ski">Ski</option>
                    <option value="Snow">Snow</option>
                    <option value="Alpinisme">Alpinisme</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" style="width: 200px;">
            <label>Filtra diponibles</label>
                <select ng-model="stockFilter" class="form-control">
                    <option value="">Tots</option>
                    <option value="true">En Stock</option>
                    <option value="false">No disponible</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" style="width: 200px;">
                <label >Ordena per Preu </label>
                <select class="form-control" ng-model="preuFilter">
                    <option value="-preu">Mes cars primer</option>
                    <option value="preu">Mes barats</option>
                    <option value="">No ordenis</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" style="width: 200px;">
                <label>Filtra per Nom Producte </label>
                <input class="form-control" type="text" ng-model="nameFilter" placeholder="Nom article">
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <!--{{productes}}-->
            <div ng-repeat="producte in productes | filter:nameFilter | filter:stockFilter | filter:categoriaFilter | orderBy:preuFilter">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <h3>{{producte.nom}}</h3>
                        <b>Actualitzat: </b>{{producte.updated | date : format : date:'yyyy-MM-dd HH:mm:ss Z'}}<br><br>
                        <b class="ng-hide">{{producte.stock == true ? "true" : "false"}}</b>
                        <b>Categoria: </b>{{producte.categoria}}<br>
                        <b>Marca: </b>{{producte.marca}}<br>
                        <b>Descripcio:</b><br>
                        <p>{{producte.descripcio | limitTo: 100}} ...</p>
                        <b>Preu: </b>{{producte.preu | currency : "" : fractionSize}} €<br><br>
                    </div>
                    <div class="col-md-6">
                        <img class="thumbnail" src="{{producte.img_url}}">
                        <a class="btn btn-info" href="#/producte/detalls/{{producte._id}}">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            Detalls
                        </a>
                        <a class="btn btn-success" ng-click="compraProducte(producte.nom, producte._id)" ng-show="userLogged">
                            <!--<i class="fa fa-plus" aria-hidden="true"></i>-->
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Compra'l !
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>